.slide{
     display: flex;
     /* overflow:scroll; */
     overflow: hidden;
     scroll-behavior: smooth;
     margin-top: 200px;
     padding-top: 10%;
     padding-bottom: 10%;
 }
 .ensemble-fleche{
     width:700px;
     min-width: 700px;
     margin: auto;
     align-items: center;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 0%, rgba(40, 40, 40, 0.97) 100%); }

 ::-webkit-scrollbar{
     display: none;
 }
 .card{
width:360px;
height: 400px;
min-width:200px;
min-height:400px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;
}
.card1{
background: url(carouselvaisseau1.png);
background-repeat: no-repeat;
background-position: center;
background-size:contain;
}
.card2{
background:url(/carouselvaisseau2.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}
.card3{
background:url(/carouselvaisseau3.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card4{
background:url(/carouselvaissea4.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}
.card5{
background:url(/carouselvaisseau5.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card6{
background:url(/carouselvaisseau6.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card7{
background:url(/carouselvaisseau7.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card8{
background:url(/carouselvaisseau8.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card9{
background:url(/carouselvaisseau9.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}
.cardX{
    background:url(/rectanglecarousel.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    }
.fleche2emecarousel {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}