@font-face {
    font-family: "roboto-black";
    src: url(police/Roboto-Black.ttf);
}
@font-face {
    font-family: "roboto-bold";
    src: url(police/Roboto-Bold.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: "roboto-black";
    font-size: 2rem;
}

h2 {
    font-family: "roboto-black";
    font-size: 0.875rem;
    color: white;
    -webkit-text-stroke-color: #9F7FF3;
    -webkit-text-stroke-width: 1px;
    font-weight: 900;

}

h3 {
    font-family: "roboto-bold";
    font-size: 1.25rem;
    color: white;
    -webkit-text-stroke-color: #9F7FF3;
    -webkit-text-stroke-width: 1px;

}
header {
    background-image: url(background1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    padding-top: 35%;

    color: white;
    padding-left: 21%;
}

header span {
    color: #9F7FF3;
}

.headerbloc1 {
    display: flex;
    align-items: center;
    padding-top: 49%;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
}

.vaisseau1 {
    padding-bottom: 5%;
    text-align: center;
    background: rgba(255, 255, 255, 0.12);
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(98.3935px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.headerbloc1 h2 {
    padding-bottom: 30%;
    padding-right: 5%;
}
.bloc1 {
    text-align: center;
    background-image: url(background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 830px;
}
/* carrouissel carrouissel carrouissel carrouissel carrouissel carrouissel */
* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 1440px;
    margin: auto;
  }
  
  .slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  .slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 2rem;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
  }
  
  .slide-arrow:hover,
  .slide-arrow:focus {
    opacity: 1;
  }
  
  #slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  #slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
  }
  
  .slide1 {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
  }
  .slider-wrapper {
    margin: 0;
  }
  .slide1:nth-child(1) {
    background-image: url(vaisseau2.png);
    background-repeat: no-repeat;
    background-position: center;
}
  
  .slide1:nth-child(2) {
    background-image: url(vaisseau3.png);
    background-repeat: no-repeat;
    background-position: center;  
}
  
  .slide1:nth-child(3) {
    background-image: url(vaisseau4.png);
    background-repeat: no-repeat;
    background-position: center;  
  }
  
  .slide1:nth-child(4) {
    background-image: url(vaisseau5.png);
    background-repeat: no-repeat;
    background-position: center;  
  }
  .slide1:nth-child(5) {
    background-image: url(vaisseau6.png);
    background-repeat: no-repeat;
    background-position: center;  
  }
  .slide1:nth-child(6) {
    background-image: url(vaisseau7.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size:contain;
 
  }
  .slide1:nth-child(7) {
    background-image: url(vaisseau8.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
  
  }
  .slide1:nth-child(8) {
    background-image: url(vaisseau9.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
  
  }
  .slide1:nth-child(9) {
    background-image: url(vaisseau10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
  
  }
  .slide1:nth-child(10) {
    background-image: url(vaisseau11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
  
  }
  .slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
 
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
/* fin de carroussel fin de carroussel   fin de carroussel   fin de carroussel   fin de carroussel    */

.h3titre1 {
    padding-top: 10%;
}


/* 2eme carousel  2eme carousel  2eme carousel  2eme carousel  2eme carousel  2eme carousel  2eme carousel */

.slide{
  display: flex;
  /* overflow:scroll; */
  overflow: hidden;
  scroll-behavior: smooth;
  margin-top: 200px;
  padding-top: 20%;
  padding-bottom: 10%;
}
.ensemble-fleche{
  width:400px;
  min-width: 400px;
  margin: auto;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.88) 0%, rgba(40, 40, 40, 0.97) 100%); }

::-webkit-scrollbar{
  display: none;
  width: 0;
  height: 0;
}
.card{
/* width:100px; */
/* height: 400px; */
width:50px;
height:50px;
transition-duration: 1000ms;
margin: 5px;
z-index: 1;
}
.card1{
background: url(carouselvaisseau1.png);
background-repeat: no-repeat;
background-position: center;
background-size:contain;
}
.card2{
background:url(carouselvaisseau2.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}
.card3{
background:url(carouselvaisseau3.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card4{
background:url(carouselvaissea4.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}
.card5{
background:url(carouselvaisseau5.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card6{
background:url(carouselvaisseau6.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card7{
background:url(carouselvaisseau7.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card8{
background:url(carouselvaisseau8.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;}
.card9{
background:url(carouselvaisseau9.png);
background-size:contain;
background-repeat: no-repeat;
background-position: center;
}
.cardX{
  background:url(rectanglecarousel.png);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  }
.fleche2emecarousel {
 display: flex;
 justify-content: space-evenly;
 padding-bottom: 10%;
}